<div id="carouselExampleControls" class="carousel slide carousel-fade mb-10"  data-ride="carousel">
    <div class="carousel-inner" style="height: 400px">
        <div class="carousel-item" [class]="{'active': idx==0}" *ngFor="let img of imagenes;let idx=index">
            <img [src]="img" class="d-block w-100">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>