<div class="container ">

    <!-- Nav tabs -->
    <ul class="nav bg-light justify-content-center shadow-sm mt-4">
        <li class="nav-item">
            <a class="nav-link" [class.active]="tab=='fotos'" role="button" (click)="tab='fotos'">Fotos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [class.active]="tab=='mapa'" role="button" (click)="tab='mapa'">Mapa</a>
        </li>
    </ul>

    <div class="" style="height: 400px">
        <!-- componente carousel -->
        <app-carousel [class]="{'d-none':tab!='fotos'}"></app-carousel>
        <!-- componente mapa -->
        <app-mapa [class]="{'d-none':tab!='mapa'}"></app-mapa>
    </div>


    <!-- detalles de propiedad -->
    <div class="row mt-4">
        <div class="col-6">
            <h5>{{propiedad.title}}</h5>
            <p>{{propiedad.address}}</p>
        </div>
        <div class="col-3">
            <div class="card text-white bg-success text-center" role="button" (click)="tab='mapa'">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <p class="card-text">Ver en Mapa</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <h4>{{propiedad.price|currency}}</h4>
        </div>
    </div>

    <!-- card de propiedad -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Descripción</h5>
            <p class="card-text">{{propiedad.description}}</p>

            <p>
                <a class="btn btn-success" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Ver mas
                </a>
            </p>
            <!-- contendor de detalles -->
            <div class="collapse" id="collapseExample" *ngIf="propiedad.details">
                <hr>
                <h4>Detalles de la Propiedad:</h4>
                <div class="row">
                    <!-- tipo de propiedad -->
                    <div class="col-4">
                        <i class="fas fa-building text-primary"></i> Tipo de Propiedad:
                        <p class=font-weight-bold>{{propiedad['details']['type']}}</p>
                    </div>

                    <!-- tamaño de lote -->
                    <div class="col-4">
                        <i class="text-primary fas fa-ruler-combined"></i> Tamaño de lote:
                        <p class=font-weight-bold>{{propiedad.details.size}}</p>
                    </div>

                    <!-- aire acondicionado -->
                    <div class="col-4">
                        <i class="text-primary fa fa-snowflake-o" aria-hidden="true"></i> Aire Acondicionado:
                        <p class=font-weight-bold>{{propiedad.details.air_conditioner|siNo}}</p>
                    </div>

                    <!-- Jardin -->
                    <div class="col-4">
                        <i class="text-primary fa fa-leaf" aria-hidden="true"></i> Jardin:
                        <p class=font-weight-bold>{{propiedad.details.backyard | siNo}}</p>
                    </div>

                    <!-- baños -->
                    <div class="col-4">
                        <i class="text-primary fa fa-shower" aria-hidden="true"></i> Baños:
                        <p class=font-weight-bold>{{propiedad.details.bathrooms}}</p>
                    </div>
                    <div class="col-4">
                        <i class="text-primary fa fa-bed" aria-hidden="true"></i> Habitaciones:
                        <p class=font-weight-bold>{{propiedad.details.bedrooms}}</p>
                    </div>
                    <div class="col-4">
                        <i class="text-primary fa fa-level-up" aria-hidden="true"></i> Pisos:
                        <p class=font-weight-bold>{{propiedad.details.floors}}</p>
                    </div>
                    <div class="col-4">
                        <i class="text-primary fa fa-car" aria-hidden="true"></i> Cocheras:
                        <p class=font-weight-bold>{{propiedad.details.parking}}</p>
                    </div>
                    <div class="col-4">
                        <i class="text-primary fa fa-leaf" aria-hidden="true"></i> Seguridad:
                        <p class=font-weight-bold>{{propiedad.details.security | siNo}}</p>
                    </div>
                    <div class="col-4">
                        <i class="text-primary fas fa-broom"></i> Cuarto de Servicio:
                        <p class=font-weight-bold>{{propiedad.details.service_room | siNo}}</p>
                    </div>
                    <div class="col-4">
                        <i class="text-primary fas fa-umbrella-beach"></i> Terraza:
                        <p class=font-weight-bold>{{propiedad.details.terrace | siNo}}</p>
                    </div>
                    <div class="col-4">
                        <i class="text-primary fas fa-warehouse"></i> Bodega:
                        <p class=font-weight-bold>{{propiedad.details.warehouse | siNo}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <button (click)="nextPropiedad()" class="btn btn-success">Siguiente Propiedad</button>
        </div>

    </div>
</div>