<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" [class]="{dropdown: item.submenus}" *ngFor="let item of menus; let idx = index">
        <!-- sin submenus -->
        <a class="nav-link" *ngIf="item.submenus==undefined">{{item.texto}} <span class="sr-only">(current)</span></a>
        
        <!-- con submenus -->
        <a class="nav-link dropdown-toggle" *ngIf="item.submenus!=undefined" id="nbDropdown{{idx}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{item.texto}}
        </a>
        <!-- iteracion de submenus -->
        <div class="dropdown-menu" aria-labelledby="nbDropdown{{idx}}" *ngIf="item.submenus!=undefined">
          <a class="dropdown-item" *ngFor="let subitem of item.submenus">{{subitem.texto}}</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Siguiente</button>
    </form>
  </div>
</nav>